<div class="container" style="font-family: Proxima Nova, Helvetica Neue, Helvetica, Arial, sans-serif;">
	<div class="row">
		<div class="col-md-2 col-xs-5">
			<div data-idgiro="1" class="itemGiro btnGiro">
				<img src="{DIR}img/hoteles.jpg" class="imgGiro"/>
				<div class="letrero">
					<div class="bgTrama bgGiroRosa"></div>
						<p>HOSPEDAJE<img src="{DIR}img/ico_1.png" class="icoGiro"/></p>
					</div>

					<div class="clear"></div>
				</div>
			</div>

			<div class="col-md-2 col-xs-5">
				<div data-idgiro="2" class="itemGiro btnGiro">
					<img src="{DIR}img/san-miguel.jpg" class="imgGiro"/>
					<div class="letrero">
						<div class="bgTrama bgGiroNaranja"></div>
						<p>AGENCIAS, SUB-AGENCIAS Y TOUR OPERADOR<img src="{DIR}img/ico_2.png" class="icoGiro"/></p>
					</div>

					<div class="clear"></div>
				</div>
			</div>

			<div class="col-md-4 col-xs-10">
				<div data-idgiro="5" class="itemGiro btnGiro">
					<img src="{DIR}img/guias.jpg" class="imgGiro"/>
					<div class="letrero">
						<div class="bgTrama bgGiroNaranja2"></div>
							<p>ALIMENTOS Y BEBIDAS<img src="{DIR}img/ico_5.png" class="icoGiro"/></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="col-md-2 col-xs-5">
					<div data-idgiro="3" class="itemGiro btnGiro"><img src="{DIR}img/guanajuato.jpg" class="imgGiro"/>
						<div class="letrero">
							<div class="bgTrama bgGiroAzul2"></div>
							<p>GUÍAS DE TURISTAS LOCALES, GENERALES Y ESPECIALIZADOS EN ACTIVIDADES ESPECÍFICAS<img src="{DIR}img/ico_3.png" class="icoGiro"/></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="col-md-2 col-xs-5">
					<div data-idgiro="8" class="itemGiro btnGiro">
						<img src="{DIR}img/teatro-juarez.jpg" class="imgGiro"/>
						<div class="letrero">
							<div class="bgTrama bgGiroVerde"></div>
							<p>SITIOS DONDE SE REALICEN ACTIVIDADES EDUCATIVAS Y CULTURALES<img src="{DIR}img/ico_8.png" class="icoGiro"/></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="col-md-2 col-xs-5">
					<div data-idgiro="7" class="itemGiro btnGiro">
						<img src="{DIR}img/artesanias.jpg" class="imgGiro"/>
						<div class="letrero">
							<div class="bgTrama bgGiroMorado"></div>
							<p>ESTABLECIMIENTOS DE ARTE POPULAR Y PRODUCTOS TIPICOS<img src="{DIR}img/ico_7.png" class="icoGiro"/></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="col-md-2 fr col-xs-5">
					<div style="height:450px" data-idgiro="17" class="itemGiro btnGiro">
						<img src="{DIR}img/hospedajeDigital.jpg" class="imgGiro"/>
						<div class="letrero">
							<div class="bgTrama bgGiroAzul"></div>
							<p>PRESTACIÓN DE SERVICIOS DE HOSPEDAJE A TRAVÉS DE PLATAFORMAS DIGITALES<img src="{DIR}img/ico_1.png" class="icoGiro"/></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>


				<div class="col-md-2 fr col-xs-5">
					<div style="height:450px" data-idgiro="9" class="itemGiro btnGiro">
						<img src="{DIR}img/tranvia.jpg" class="imgGiro"/>
						<div class="letrero">
							<div class="bgTrama bgGiroGris2"></div>
							<p>ARRENDADORA DE AUTOMÓVILES Y TRANSPORTADORAS TURÍSTICAS<img src="{DIR}img/ico_9.png" class="icoGiro"/></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="col-md-2 fr col-xs-5">
					<div style="height:450px" data-idgiro="6" class="itemGiro btnGiro">
						<img src="{DIR}img/golf.jpg" class="imgGiro"/>
						<div class="letrero">
							<div class="bgTrama bgGiroNaranja"></div>
							<p>CAMPOS DE GOLF<img src="{DIR}img/ico_13.png" class="icoGiro"/></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="col-md-4 col-xs-10">
					<div data-idgiro="10" class="itemGiro btnGiro">
						<img src="{DIR}img/balnearios.jpg" class="imgGiro"/>
						<div class="letrero">
							<div class="bgTrama bgGiroRosa"></div>
							<p>EMPRESAS OPERADORAS DE PÁRQUES TEMÁTICOS<img src="{DIR}img/ico_10.png" class="icoGiro"/></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="col-md-2 fr col-xs-5">
					<div data-idgiro="11" class="itemGiro btnGiro">
						<img src="{DIR}img/auxilio.jpg" class="imgGiro"/>
						<div class="letrero">
							<div class="bgTrama bgGiroVerde"></div>
							<p>AUXILIO<br>TURÍSTICO<img src="{DIR}img/ico_11.png" class="icoGiro"/></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="col-md-2 fl col-xs-5">
					<div style="height:450px" data-idgiro="12" class="itemGiro btnGiro">
						<img src="{DIR}img/balnearios2.jpg" class="imgGiro"/>
						<div class="letrero">
							<div class="bgTrama bgGiroAzul2"></div>
							<p>BALNEARIOS Y/O PARQUES ACUÁTICOS<img src="{DIR}img/ico_12.png" class="icoGiro"/></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="col-md-2 col-xs-5">
					<div data-idgiro="13" class="itemGiro btnGiro">
						<img src="{DIR}img/universidad-guanajuato.jpg" class="imgGiro"/>
						<div class="letrero">
							<div class="bgTrama bgGiroVerde"></div>
							<p>CAPACITACIÓN TURÍSTICA (Escuelas, Colegios y Universidades)<img src="{DIR}img/ico_14.png" class="icoGiro"/></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="col-md-4 col-xs-10">
					<div data-idgiro="14" class="itemGiro btnGiro">
						<img src="{DIR}img/balsas.jpg" class="imgGiro"/>
						<div class="letrero">
							<div class="bgTrama bgGiroAzul3"></div>
							<p>DEPORTE Y RECREACIÓN<img src="{DIR}img/ico_15.png" class="icoGiro"/></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="col-md-2 col-xs-5">
					<div data-idgiro="4" class="itemGiro btnGiro">
						<img src="{DIR}img/promotores.jpg" class="imgGiro"/>
						<div class="letrero">
							<div class="bgTrama bgGiroRosa"></div>
							<p>PERSONAS QUE INTERMEDIEN EN LA CONTRATACION DE ALGÚN SERVICIO<img src="{DIR}img/ico_4.png" class="icoGiro"/></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>


				<div class="col-md-4 col-xs-10">
					<div data-idgiro="16" class="itemGiro btnGiro">
						<img src="{DIR}img/teatro-bicentenario.jpg" class="imgGiro"/>
						<div class="letrero">
							<div class="bgTrama bgGiroMorado"></div>
							<p>RECINTOS, AUDITORIOS, CONSERVATORIOS Y SALONES PARA EVENTOS<img src="{DIR}img/ico_17.png" class="icoGiro"/></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="col-md-2 col-xs-10">
					<div data-idgiro="15" class="itemGiro btnGiro">
						<img src="{DIR}img/spas.jpg" style="width:437px" class="imgGiro"/>
						<div class="letrero">
							<div class="bgTrama bgGiroNaranja"></div>
							<p>SPAS<img src="{DIR}img/ico_16.png" class="icoGiro"/></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>